In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("final_data.csv")

In [4]:
df=df.loc[:,["movie_title","comb"]]

In [5]:
df

,movie_title,comb
0,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...
7431,luckiest girl alive,Mila Kunis Finn Wittrock Scoot McNairy Mike Ba...
7432,god's creatures,Emily Watson Paul Mescal Aisling Franciosi Sae...
7433,dead for a dollar,Christoph Waltz Willem Dafoe Rachel Brosnahan ...
7434,my best friend's exorcism,Elsie Fisher Amiah Miller Cathy Ang Damon Thom...
7435,hot take: the depp/heard trial,Mark Hapka Megan Davis Mellisa Marty Sara Lohm...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv=CountVectorizer(max_features=100,stop_words='english')

In [11]:
vector=cv.fit_transform(df["comb"]).toarray()

In [12]:
vector.shape

(7436, 100)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
similarity=cosine_similarity(vector)

In [15]:
similarity[0]

array([1.        , 0.53033009, 0.35355339, ..., 0.        , 0.        ,
       0.        ])

In [51]:
df[df["movie_title"]=="avatar"]

Empty DataFrame
Columns: [movie_title, comb]
Index: []

In [44]:
def recommend(movie):
    movie=movie.lower()
    index = df[df['movie_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(df.iloc[i[0]].movie_title)

In [50]:
recommend("Pirates of the Caribbean")

IndexError: index 0 is out of bounds for axis 0 with size 0

In [34]:
import pickle

In [35]:
pickle.dump(df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))